<div class='staff-new'>
    <%= form_for @staff do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= render 'form', {:f => f, staff_number: @staff_number} %>
    <% end %>
</div>