<%= link_to '管理者画面', home_basic_path%>
<div class='staff-new'>
    <%= form_for @staff do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= render 'form', {:f => f, staff_number: @staff_number} %>
    <% end %>
</div>

<script>

    //render後のリロード対策
    function addToNewUrl() {
        
        //urlを取得
        let path = location.pathname;
        let pattern = "/staffs/new"
    
        // URLが正しければ変更は不要
        if(path.match(pattern)) return;
    
        // URLを変更
        history.replaceState('', '', "/staffs/new" );
    }
    
    window.onload = addToNewUrl();
    
</script>
