<div class='schedules'>
    <div class='calenders'>
        <p>日付をクリックするとその日の出勤者がわかります。</p>
        <div class='calender'>
            <%= make_calender_before(@before).html_safe %>
            <%= make_calender_present(@present).html_safe %>
            <%= make_calender_after(@after).html_safe %> 
        </div>
    </div>
</div>