<div class='top'>
    <div class='top-image'>
        <h2>Welcome</h2>
        <p>詳細</p>
        <p><%= link_to 'RESERVATION',choose_menus_reservations_path, class:'btn btn-info' %></p>
    </div>
</div>
 
 

