<tr>
    <th>メニュー</th>
    <td><%= @menuNames %></td>
</tr>
<tr>
    <th>所要時間</th>
    <td><%= @menuRequiredTimes %>分</td>
</tr>
<tr>
    <th>お支払い予定金額</th>
    <td><%= "￥#{@menuPrices.to_s(:delimited)}" %><br><span class="caution">※実際のお支払い金額と異なる場合があります。</span></td>
</tr>