<div class='custamer'>
    <div class='main-header'>
        <h2>お客様情報を入力してください</h2>
    </div>
    <div class='custamer-detail'>
        <div class='custamer'>
            
        </div>
        
    </div>
</div>