<div class='reservation-index'>
    <div class='reservation_all'>
        <div class='reservations-inners'>
            <h3>予約一覧</h3>
            <% @reservations.each do |reservation| %>
                <% logger.debug("------reservation=#{reservation.id}") %>
                <% if Date.parse(reservation.date) == Date.today %>
                    <% render 'reservation_index', reservation: reservation %>
                <% else %>
                    <% render 'reservation_index', reservation: reservation %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>